<!DOCTYPE html>
<html>
<head>
  <title>Simple Chat</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
  <h1>Chat</h1>
  <div class="wrapper">
    <div class="msgs">

    </div>
    <form id="chatForm">
      <textarea name="msg" id="msg" rows="5"></textarea>
      <input id="send" type="submit" value="SEND" />
    </form>
  </div>
  <script  src="/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script  src="/chat.js"></script>
</body>
</html>
