<!DOCTYPE html>
<html>
<head>
  <title>Simple Chat</title>
</head>
<body>
  <h1>Chat</h1>
  <div class="wrapper">
    <div class="msgs">

    </div>
    <form>
      <textarea rows="5"></textarea>
      <input type="submit" value="submit" />
    </form>
  </div>
</body>
</html>
